/* ================= Contact HERO ================= */
.contact_hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* .contact_hero::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 2;
} */

.contact-hero-content {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  pointer-events: none;
}

.contact-hero-content h1 {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  padding: 32px 48px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-hero-content h1,
.contact-hero-content a {
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.contact-hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact_hero h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0.5px;
  z-index: 4;
  margin-bottom: 24px;
}

.btn-outline {
  padding: 12px 32px;
  border: 1px solid #6D6B6D;
  font-size: 13px;
  letter-spacing: 1px;
}
.contact_hero_container {
  display: flex;
}



/* ================= MANDAVA BANNER ================= */

.mandawa-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 520px;
  width: 100%;
}

/* LEFT PANEL */
.mandawa-left{
  width: 50%;
  object-fit: cover;
}
.mandawa-left img{
  /* position: relative; */
  /* display: flex; */
  align-items: center;
  width: 720px;
  /* justify-content: center; */
}

/* RIGHT PANEL */
.mandawa-right {
  background: url('../../../assets/images/first-courtyard-evening.png') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  /* width: 700px; */
}

/* Dark overlay */
.mandawa-right::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* Contact card */
.contact-card {
  position: relative;
  z-index: 2;
  color: #ffffff;
  max-width: 320px;
  text-align: end;
  line-height: 0.8;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  padding: 32px 48px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-card h4 {
  font-size: 18px;
  /* margin-bottom: 20px; */
  font-weight: 400;
  
}

.contact-phone {
  font-size: 24px;
  /* margin-bottom: 12px; */
}

.contact-link {
  display: inline-block;
  /* margin-bottom: 16px; */
  font-size: 18px;
  text-decoration: underline;
  color: #ffffff;
}

.contact-email {
  font-size: 24px;
  /* margin-bottom: 24px; */
  opacity: 0.9;
  font-weight: 400;
}

.contact-address span {
  display: block;
  font-size: 18px;
  /* margin-bottom: 6px; */
  opacity: 0.8;
}

.contact-address p {
  font-size: 16px;
  line-height: 1;
  opacity: 0.8;
}


/* ================= MAP CONTAINER ================= */
.map-container {
  width: 100%;
/* min-height: 520px; */
  /* margin-top: 40px; */
}