
.about_hero {
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.about_hero_content {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  pointer-events: none;
}

.about-hero_content h1 {
  /* font-fartant; */
  padding: 32px 48px;
}

.about_hero_bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_hero h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0.5px;
  z-index: 4;
  margin-bottom: 24px;
}


/* Heritage Section */

.about_heritage {
  padding: 80px 10%;
}

.about_heritage_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.about_heritage_image img {
  width: 100%;
  border-radius: 2px;
}

.about_heritage_content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about_heritage_content p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #555;
}


/* Rooms Section */
/* ================= ROOMS ================= */
.rooms {
  text-align: center;
  background-color: #F5F5F5;
  padding: 100px 80px;
}

.rooms-grid {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  margin-top: 20px;
}

.room-card {
  border: 0px solid #6D6B6D;
  padding: 25px;
  text-align: left;
  width: 360px;
}

.section-title {
  font-size: 32px;
  margin-bottom: 5px;
}

.section-text {
  line-height: 25px;
  color: #333;
  font-size: 14px;
  margin-bottom: 24px;
}

.shadow-wrapper {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
  transition: box-shadow 0.3s ease !important;
}

.room-card img {
  width: 312px;
  height: 224px;
  object-fit: cover;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.room-card h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

.room-meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 20px 0;
  font-size: 13px;
  color: var(--muted);
}

.meta-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.meta-label {
  font-size: 12px;
  letter-spacing: 0.5px;
}

.meta-value {
  font-size: 14px;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  gap: 6px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-size: 14px;
}

.price span{
  font-size: 16px;
  font-weight: 600;
}

.price small {
  font-size: 12px;
  color: var(--muted);
}

.price button {
  padding: 6px 16px;
  border: 1px solid var(--text-dark);
  background: #333333;
  color: #ffff;
  cursor: pointer;
  font-size: 12px;
}


/* Tablet - 1024px */
@media (max-width: 1024px) {

  .about_heritage_container{
    display: flex;
    flex-direction: column-reverse;  
    gap: 20px;
  }

  .about_heritage {
  padding: 25px 10%;
}

  /* Rooms */
  .rooms {
    padding: 80px 40px;
  }

  .rooms-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .room-card {
    width: 100%;
    height: auto;
  }

  .room-card img {
    width: 100%;
    height: 200px;
  }
}

/* Mobile - 768px */
@media (max-width: 768px) {
  

  .about_heritage_container{
    display: flex;
    flex-direction: column-reverse;  
    gap: 20px;
  }

  .about_heritage {
  padding: 50px 10%;
}
  /* Rooms */
  .rooms {
    padding: 60px 24px;
  }

  .rooms-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    display: flex;
        flex-direction: column;
        align-items: center;
  }

  .room-card {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .room-card img {
    width: 100%;
    height: 200px;
  }
}

/* Small Mobile - 480px */
@media (max-width: 480px) {

  .about_heritage_container{
    display: flex;
    flex-direction: column-reverse;  
    gap: 20px;
  }

  .about_heritage {
  padding: 50px 10%;
}

.about_hero {
  height: 100%;
  position: relative;
  overflow: hidden;
}


  /* Rooms */
  .rooms {
    padding: 40px 30px;
  }

  .room-card {
    padding: 16px;
  }

  .room-card img {
    height: 180px;
  }

  .room-card h4 {
    font-size: 16px;
  }

}

.book-room-btn {
  padding: 12px 33px;
  color: #fff !important;
  letter-spacing: 0;
  font-size: 18px;
  border: 1px solid #333 !important;
  cursor: pointer;
  background: #333;
  border-color: #333;
  transition: all 0.3s ease;
}

.book-room-btn:hover {
  color: #2e2e2e !important;
  background-color: #f5f5f5 !important;
}