<div class="embla hero" #heroEmbla="emblaCarousel" emblaCarousel [options]="options" [plugins]="plugins">
  <div class="embla__container">
    @for (slide of slides; track $index) {
    <div class="embla__slide">
      <div class="hero-slide">
        <img [src]="slide" alt="Hotel Slide" class="hero-bg" />
        <div class="hero-content">
          <h1>A Courtyard of Calm<br />Crafted for You</h1>
        </div>
      </div>
    </div>
    }
  </div>
  <button class="embla__prev" (click)="scrollPrev()" aria-label="Previous slide"> ‹</button>
  <button class="embla__next" (click)="scrollNext()" aria-label="Next slide"> ›</button>
</div>

<!-- ABOUT -->
<section class="split">
  <img class="shadow-wrapper" src="assets/images/rooftop-side-view.jpg" />
  <div>
    <h2 class="section-title">A Stay Crafted Around You</h2>
    <p class="section-text expandable-text" [style.text-align]="'justify'" [style.line-height]="'30px'">
      {{ aboutText }}
      @if (!isDesktop && !showFullAboutText) {
      <span class="read-more-link" (click)="toggleAboutText()">Read More</span>
      }
    </p>

    <a class="header-explore-btn" (click)="scrollTo('rooms-list-section')">EXPLORE</a>
  </div>
</section>

<section class="split-second">
  <div>
    <h2 class="section-title">Paawana Restaurant</h2>
    <p class="section-text expandable-text" [style.text-align]="'justify'" [style.line-height]="'30px'">
      {{ paawanaText }}
      @if (!isDesktop && !showFullPaawanaText) {
      <span class="read-more-link" (click)="togglePaawanaText()">Read More</span>
      }
    </p>
  </div>
  <img  class="shadow-wrapper" src="assets/images/paawana-kitchen-inner.png" />
</section>

<!-- SERVICES -->
<section class="services-exp">
  <div class="services-header">
    <h2 class="section-title">Signature Experiences</h2>
    <p class="section-text">
      From tranquil walks to vibrant evenings, each experience is designed to reflect the soul of the destination.
    </p>
  </div>

  <div class="embla services-carousel" #serviceEmbla="emblaCarousel" emblaCarousel [plugins]="servicePlugins"
    [options]="serviceOptions">
    <div class="embla__container">
      @for (service of services; track $index) {
      <div class="embla__slide">
        <div class="service-exp-card">
          <div class="service-exp-content">
            <h3>{{ service.title }}</h3>
            <p>{{ service.description }}</p>
          </div>
          <img [src]="service.image" [alt]="service.title" />
        </div>
      </div>
      }
    </div>

    <!-- Arrows -->
    <button class="embla__prev" (click)="scrollServicePrev()">‹</button>
    <button class="embla__next" (click)="scrollServiceNext()">›</button>
  </div>
</section>

<!-- ROOMS -->
<section class="rooms" id="rooms-list-section">
  <h2 class="section-title">Where Comfort Finds Its Calm</h2>
  <p class="section-text">
    Elegant interiors, modern comforts, and a peaceful atmosphere.
  </p>

  <div class="rooms-grid">
    @for (room of rooms; track $index) {
    <div class="room-card shadow-wrapper">
      <img class="shadow-wrapper" [src]="room.image" [alt]="room.name" />

      <h4>{{ room.name }}</h4>
      <p class="section-text">{{ room.description }}</p>

      <div class="room-meta">
        <div class="meta-item">
          <span class="meta-label">Bedrooms</span>
          <span class="meta-value">🛏 {{ room.bedrooms }}</span>
        </div>

        <div class="meta-item">
          <span class="meta-label">Area</span>
          <span class="meta-value">⬚ {{ room.area }}</span>
        </div>
      </div>

      <div class="price">
        <span>₹{{ room.price }} <small>/ night</small></span>
        <button class="book-room-btn">BOOK</button>
      </div>
    </div>
    }
  </div>
</section>

<!-- HERITAGE -->
<section class="heritage">
  <div>
    <h2 class="section-title">Discover Our Heritage Retreat</h2>
    <p class="section-text">Step into the timeless elegance of Mandawa Kothi, our heritage residence where history and
      hospitality come together.</p>
  </div>
  <div class="full-image"></div>
  <div>
    <a class="header-explore-btn" href="https://www.mandawakothi.com/" target="_blank">EXPLORE</a>
  </div>
</section>