<div class="contact_hero">
    <div class="contact_hero_container">
        <img src="assets/images/header-common-img.webp" alt="Hotel Slide" class="contact-hero-bg" />
    </div>

    <div class="contact-hero-content">
        <h1 style="font-size: 75px;">First Courtyard Privacy Policy</h1>
    </div>
</div>

<div class="privacy-container">
     <div class="terms-sections">
      @for (section of sections; track $index) {
        <div class="term-section">
          <h2 class="section-title">{{ section.title }}</h2>
          
          @if (section.content) {
            <p class="section-content">{{ section.content.trim() }}</p>
          }
          
        </div>
      }
    </div>
</div>
