<div class="privacy-container">
  <section>
    <h1 style="font-size: 30px;">First Courtyard Privacy Policy</h1>
      <p class="content">
      <strong>Effective From:</strong> {{ effectiveDate }}
    </p>
  </section>
     <div class="terms-sections">
      @for (section of sections; track $index) {
        <div class="term-section">
          <h2 class="section-title">{{ section.title }}</h2>
          
          @if (section.content) {
            <p class="section-content">{{ section.content.trim() }}</p>
          }
          
        </div>
      }
    </div>
</div>
