        body {
          font-family: "MarkOT";
          color: #333;
          line-height: 1;
          margin: 0;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
