        body {
          font-family: "MarkOT";
          color: #333;
          line-height: 1;
          margin: 0;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

@font-face {
  font-family: 'Madelyn';
  src: url('assets/fonts/madelyn/MadelynFill-Trial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}